* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
	font-family: 'Open Sans', sans-serif;
}

.header_container{
	width:80%;
	height:300px;
	margin: 0 auto;
	
}

.logo{
	background-image:url("images/samplelogo.png");
	width:250px;
	height:200px;
	background-repeat:no-repeat;
	background-position: center bottom;
	display:inline-block;
	float:left;
}


.menu{
	padding-top:59px;
}

.menu ul{
	font-size:13px;
	text-decoration: none;
	float:right;
	text-transform: uppercase;
	position:center;


}

.menu li{
	display:inline-block;
	color: #29292A;
	font-weight:300;
	text-transform:uppercase;
	padding-right:25px;
	padding-left:25px;
	padding-top:6px;
}

.menu li:hover{
	color:rgb(200,200,200);
}


.login_button{

	font-size:13px;
	font-weight:400;
	color:black;
	border-style:none;
	text-transform:uppercase;
	padding-right:25px;
	padding-left:25px;
	padding-top:6px;
	padding-bottom:6px;
}

.login_button:hover{
	color:rgb(200,200,200);
}


.signup_button{

	font-size:13px;
	font-weight:400;
	color:#FFFFFF;
	text-transform:uppercase;
	border-style:none;
	border-radius: 25px;
	padding-right:25px;
	padding-left:25px;
	padding-top:6px;
	padding-bottom:6px;
	box-shadow: 0 6px 20px 0 rgb(0,0,0,0.2);
}

.signup_button:hover{
	color:rgb(0,0,0);
}

.btn-grad {background-image: linear-gradient(to right, #6FC84A 0%, #A6C631 70%, #A6C631 100% )}
.btn-grad:hover { background-position: right center; }

.body_container{
	width:80%;
	height:2100px;
	margin: 0 auto;
	color:#7F8C8D;
}

.section_one--container_left{
	width:50%;
	height:100%;
	float:left;
}

.section_one--container_right{
	width:50%;
	height:100%;
	float:right;
}



.section_one--paragraph_one{
	width:100%;
	height:auto;
	color:black;
	font-size:72px;
	font-weight:300;
}
.bold {
	font-weight:700;
}

.section_one--paragraph_two{

	width:100%;
	height:auto;
	margin-top:10px;
	color:#7F8C8D;
	font-size:22px;
	font-weight:300;

}	

.signup_button_two{

	width:350px;
	height:50px;
	margin-top:40px;
	font-size:18px;
	font-weight:400;
	color:#FFFFFF;
	text-transform:uppercase;
	border-style:none;
	border-radius: 25px;
	padding-right:113px;
	padding-left:113px;
	padding-top:13px;
	padding-bottom:13px;
	box-shadow: 0 6px 20px 0 rgb(0,0,0,0.2);
}
.signup_button_two:hover{
	color:rgb(0,0,0);
}

.top_image{
	width:100%;
	height:auto;
	display:inline-block;
	float:right;
}

.customers_logos{
	width:100%;
	height:auto;
	margin-top:50px;
}

.section_three--container{
	width:100%;
	margin-top:100px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
}




.fas fa-arrow-left{
	
}

.fas fa-arrow-right{
	
}

.central_box{
	width:80%;
	height:400px;
	margin-left:20px;
	margin-right:20px;
	border-radius:25px;
	box-shadow: 0 6px 60px 0 rgb(0,0,0,0.3);
	

}
.central_box--container_left{
	width:50%;
	height:auto;
	margin-left:60px;
	display:inline-block;
}

.quote{

}
.section_three--paragraph_one{
	width:100%;
	height:auto;
	margin-top:10px;
	color:#7F8C8D;
	font-size:22px;
	font-weight:300;
	
	
}

.section_three--paragraph_two{
	width:100%;
	height:auto;
	margin-top:10px;
	color:#70C84A;
	font-size:16px;
	font-weight:300;
	
	
}

.section_three--paragraph_three{
	width:100%;
	height:auto;
	color:#7F8C8D;
	font-size:16px;
	font-weight:300;
	
	
}

.photo{
	float:right;
	height:400px;
	margin-right:60px;
}
.arrow_right{
	width:10%;
	height:auto;
}

.arrow_right:hover{
	width:10%;
	height:auto;
}

.section_four--container{
	width:100%;
	height:500px;
	margin-top:100px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:center;
}

.section_four--container_small{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}


.section_four h1 {
	font-size:28px;
	color:black;
	font-weight:300;
	margin-top:20px;
}

.section_four p {
	font-size:16px;
	color:#7F8C8D;
	width:270px;
	height:auto;
	margin-top:20px;
}

.section_five--container{
	width:100%;
	height:300px;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: space-between;
	align-items:center;
	position:relative;
}

.section_five--paragraph_one{
	font-size:48px;
	color:black;
	font-weight:300;
}



.signup_input{

	right:500px;
	width:600px;
	height:50px;
	margin-top:40px;
	font-size:18px;
	font-weight:300;
	color:grey;
	background-color:#F7F7F7;
	border:1px solid #ECEEEE;
	border-style:none;
	border-radius: 25px;
	padding-right:113px;
	padding-left:113px;
	padding-top:13px;
	padding-bottom:13px;
	position:absolute;
	right:300px;
	z-index:1;
}

.signup_input:focus{
	background-color:rgba(112, 200, 74, 0.2);
	 outline-width: 0;
}


.signup_button_three{

	width:350px;
	height:50px;
	margin-top:40px;
	font-size:18px;
	font-weight:400;
	color:#FFFFFF;
	text-transform:uppercase;
	border-style:none;
	border-radius: 25px;
	padding-right:113px;
	padding-left:113px;
	padding-top:13px;
	padding-bottom:13px;
	box-shadow: 0 6px 20px 0 rgb(0,0,0,0.2);
	position:relative;
	z-index:2;
}
.signup_button_three:hover{
	color:rgb(0,0,0);
}

/*
.section_five--paragraph_two{
	position:absolute;
	right:290px;
	margin-top:70px;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#7F8C8D;
	font-weight:300;

}

*/
footer{
	background-color:#29292A;
	font-weight:300;
	width:100%;
	height:782px;
}
.footer_container{
	width:80%;
	height:750px;
	margin: 0 auto;
}

.footer_container--box_one{
	width:100%;
	height:auto;
	padding-top:50px;
	padding-bottom:50px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

footer h1 {
	color:#7F8C8D;
	font-weight:300;
	font-size:28px;

}

footer p{
	color:#9CC255;
	font-size:16px;
	padding-top:20px;
}

footer p:hover{
	color:#7F8C8D;
}

.footer_container--box_two{
	width:100%;
	height:auto;
	padding-top:50px;
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	align-items:flex-start;

}

.footer_container--box_two ul{
	text-decoration:none;
	list-style-type: none;
	color:#7F8C8D;
	text-transform:uppercase;
	line-height:2em;
}

.footer_container--box_two li{
	text-decoration:none;
	color:#9CC255;
	font-size:14px;
	text-transform:capitalize;
}

.footer_container--box_two li:hover{
color:#7F8C8D;
}

.footer_container--box_two a{
text-decoration:none;
}

.footer_container--box_three{
	width:100%;
	height:auto;
	padding-top:50px;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items:center;
}

.facebook_icon {
	background-image:url("images/facebook.svg");
	width:22px;
	height:22px;
	margin:1em;
	background-repeat:no-repeat;
	background-size:contain;
}
.instagram_icon {
	background-image:url("images/instagram.svg");
	width:22px;
	height:22px;
	margin:1em;
	background-repeat:no-repeat;
	background-size:contain;
}
.twitter_icon {
	background-image:url("images/twitter.svg");
	width:22px;
	height:22px;
	margin:1em;
	background-repeat:no-repeat;
	background-size:contain;
}
.linkedin_icon {
	background-image:url("images/linkedin.svg");
	width:22px;
	height:22px;
	margin:1em;
	background-repeat:no-repeat;
	background-size:contain;
}

.footer_container--box_four{
	width:100%;
	height:auto;
	padding-top:50px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

.footer_container--box_four p {
	color:#7F8C8D;
	font-size:13px;
	margin-bottom:20px;
}


